    .navbar {
        display: flex;
        justify-content: space-between;
        /* justify-content: flex-start; */
        word-spacing: 10px;
        align-items: center;
        width: 95%;
        padding: 0 20px;
        background-color: #ffffff;
      }

    #nav-links{
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
      
      .navbar a {
        text-decoration: none;
      }
      
      .logo {
        width: 20vh;
        height: auto;
      }
      
      .nav-link {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Inter-Medium", Helvetica;
        font-weight: 500;
        color: #09a5e999;
        font-size: 13.1px;
        letter-spacing: 0.2px;
        line-height: 16px;
        white-space: nowrap;
      }

      .underline-effect::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: #333;
        transition: width 0.4s;
      }
      
      .underline-effect:hover::after {
        width: 100%;
      }